/* General */
section {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
}

.week {
  position: absolute;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: rgba(156, 156, 156, 0.4);
  z-index: 200;
}
.week-top {
  top: 10%;
}
.week-p {

}
.number {
  border: 1px solid #F4F4F4;
  padding: 2px 5px;
}
.week-bottom {
  bottom: 10%;
}

/*  */


/* WEEK 1 */

.fire-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire-background {
  width: 100vw;
  height: 100vh;
  background-color: #720F0F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fire-with-fire {
  margin: auto;
  text-align: left;
  max-width: 80vw;
  word-wrap: break-word;
  opacity: 0.7;
  font-family: 'Lato', sans-serif;
  font-size: 12vw;
  letter-spacing: 5vw;
  line-height: 13.5vh;
}

.fire-red {
  color: #941919;
}
.fire-yellow {
  color: #AC8719;
}
.fire-deep-red{
  color: #771E0C;
}
.fire-orange {
  color: #C18A1C;
}
.fire-red {
  color: #9A1F03;
}
.fire-deep-orange {
  color: #AF6017;
}
.fire-deepest-red {
  color: #4B100A;
}

.fire-foreground {
  position: absolute;
  border: 3px solid #FFFFFF;
  margin: auto;
  height: 300px;
  width: 250px;
  z-index: 1;
  background-color: rgba(32, 40, 93, 0.2);
}

.fire-title {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 13.5px;
  padding: 25px 20px;
}

.fire-paragraph {
  text-align: left;
  font-family: 'Unna', serif;
  font-size: 29px;
  color: #FFFFFF;
  padding: 25px 50px;
}


.fire-background {
  background: linear-gradient(319deg, #530404, #841212, #843412, #7e2a2a);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  -o-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
  @-webkit-keyframes AnimationName {
      0%{background-position:46% 0%}
      50%{background-position:55% 100%}
      100%{background-position:46% 0%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:46% 0%}
      50%{background-position:55% 100%}
      100%{background-position:46% 0%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:46% 0%}
      50%{background-position:55% 100%}
      100%{background-position:46% 0%}
  }
  @keyframes AnimationName {
      0%{background-position:46% 0%}
      50%{background-position:55% 100%}
      100%{background-position:46% 0%}
  }
}

.steve-html-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.steve-quote {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  color: #d6d6d6;
  line-height: 1.2em;
  padding: 40px;
}

.steve-new-line {
  display: block;
}

.steve-indent-1 {
  padding-left: 20px;
}

.steve-indent-2 {
  padding-left: 40px;
}

.steve-indent-3 {
  padding-left: 60px;
}

.steve-indent-4 {
  padding-left: 80px;
}

.steve-highlighted {
  color: rgb(94, 94, 94);
  font-style: italic;
  font-size: 1em;
  font-family: 'Vollkorn', serif;
  letter-spacing: 0.1em;
  /*text-shadow: 1px 1px 3px rgba(255, 251, 157, 0.26);*/
}
